{% extends 'base.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto autem beatae, commodi dignissimos eius error id inventore laborum nesciunt nostrum perferendis quam quidem quis rerum, similique tenetur ut voluptatibus!</p>
{% endblock %}

{% block title %}{{ parent() }} | WESH ALORS!{% endblock %}