{% extends 'base.html.twig' %}


{% block body %}
        <br><br>

        <ul style="list-style-type: none"><h2>Liste des choses à faire ... Bolosse :</h2>


    {% for wish in wishes %}
        <li><a href="{{ url('wish_detail',{"id": wish.id}) }}">{{ wish.title }}  [{{ wish.category.name }}]</a><br></li>
    {% endfor %}
</ul>
{% endblock %}

{% block title %} Liste de souhaits {% endblock %}